.hero-left{
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 15px;
}
.hero-home{
    display: flex;
    margin-top: 90px;margin-left: 50px;
    margin-right: 50px;

}
.hero-right{
    flex: 1;
}
.hero-left>:nth-child(1){
    font-size: 30px;
    font-weight: 700;
}
.hero-left>:nth-child(2){
    font-size: 30px;
    font-weight: 700;
    color: var(--orange);
}
.hero-left>:nth-child(3){
    font-size: 15px;
    color: var(--gray);

}
.button{
    width: 108px !important;
    /* height: 14px; */
    padding: 6px;
}
.hero-left-icons{
    display: flex;
    gap: 0px;
    margin-top: 40px;
}
.hero-left-icons>*{
    transform: scale(.5);
   
}



/* ************************************************************ HERO RIGHT SIDE CSS****************** */

.hero-right{
    /* flex: 1; */
    position: relative;

}
.hero-right> * {
    position: absolute;
    z-index: 1;
 

}
.hero-right>:nth-child(1){
    transform: scale(.69);
    left: -15%;
    top: -9%;
}
.hero-right>:nth-child(2){
    transform: scale(.67);
    left: -30px;
    top: -46px;
}
.hero-right>:nth-child(3){
    transform: scale(1.4);
    left: 28%;
   
}
.hero-right>:nth-child(4){
    transform: scale(.4);
left: -24%;
top: -19%;
border-radius: 50%;
   
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}